<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>AddReviewServlet</servlet-name>
    <servlet-class>com.hotel.servlet.AddReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReviewServlet</servlet-name>
    <url-pattern>/addReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.hotel.servlet.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/reviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.customer.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertBooking</display-name>
    <servlet-name>insertBooking</servlet-name>
    <servlet-class>com.booking.insertBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertBooking</servlet-name>
    <url-pattern>/insertBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookingServlet</display-name>
    <servlet-name>ShowBookingServlet</servlet-name>
    <servlet-class>com.booking.ShowBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookingServlet</servlet-name>
    <url-pattern>/ShowBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBooking</display-name>
    <servlet-name>EditBooking</servlet-name>
    <servlet-class>com.booking.EditBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBooking</servlet-name>
    <url-pattern>/EditBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBooking</display-name>
    <servlet-name>DeleteBooking</servlet-name>
    <servlet-class>com.booking.DeleteBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBooking</servlet-name>
    <url-pattern>/DeleteBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingAvailability</display-name>
    <servlet-name>BookingAvailability</servlet-name>
    <servlet-class>com.booking.BookingAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingAvailability</servlet-name>
    <url-pattern>/BookingAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllRoomServlet</display-name>
    <servlet-name>ShowAllRoomServlet</servlet-name>
    <servlet-class>com.room.ShowAllRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllRoomServlet</servlet-name>
    <url-pattern>/ShowAllRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertUser</display-name>
    <servlet-name>insertUser</servlet-name>
    <servlet-class>com.customer.insertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertUser</servlet-name>
    <url-pattern>/insertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCusDetails</display-name>
    <servlet-name>ShowCusDetails</servlet-name>
    <servlet-class>com.customer.ShowCusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCusDetails</servlet-name>
    <url-pattern>/ShowCusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.customer.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.customer.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/sona-master/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.room.servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDetailsServlet</display-name>
    <servlet-name>RoomDetailsServlet</servlet-name>
    <servlet-class>com.room.servlet.RoomDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDetailsServlet</servlet-name>
    <url-pattern>/RoomDetailsServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>FaqServlet</display-name>
    <servlet-name>FaqServlet</servlet-name>
    <servlet-class>com.admin.FaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqServlet</servlet-name>
    <url-pattern>/FaqServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description></description>
    <display-name>Add_FaqServlet</display-name>
    <servlet-name>Add_FaqServlet</servlet-name>
    <servlet-class>com.admin.AddFaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_FaqServlet</servlet-name>
    <url-pattern>/Add_FaqServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQListServlet</display-name>
    <servlet-name>FAQListServlet</servlet-name>
    <servlet-class>com.admin.FAQListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQListServlet</servlet-name>
    <url-pattern>/FAQListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFAQServlet</display-name>
    <servlet-name>EditFAQServlet</servlet-name>
    <servlet-class>com.admin.EditFAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFAQServlet</servlet-name>
    <url-pattern>/EditFAQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFAQServlet</display-name>
    <servlet-name>DeleteFAQServlet</servlet-name>
    <servlet-class>com.admin.DeleteFAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFAQServlet</servlet-name>
    <url-pattern>/DeleteFAQServlet</url-pattern>
  </servlet-mapping>
</web-app>